* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #6464648c;
    margin: 10px 30px;
}
.container {
    max-width: 1440px;
    margin: 0 10px;
  }
.round {
    border-radius: 50%;
    margin-top: 10px ;
    margin-bottom: 30px;
}
.section-profile {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    align-self: flex-start;
    justify-content: flex-start;
}
.section-name {
    font-size: 30px;
    margin-left: 40px;
    margin-top: 60px;
}
.item {
    padding: 0;
    margin-left: 0px;
}
.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.nav-link {
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding: 0 10px;
    line-height: 10px;
    transition: .3s;
}
.nav-link:hover {
    color: rgb(114, 91, 216);
}
.main {
    display: flex;
    flex-wrap: wrap;
    background-color: #64646446;
    margin: 10px 80px 10px 80px;
}
.head-list {
    color: black;
}
.body-list {
    list-style: none;
    color: black;
    padding: 0px;
    margin: 0px;
}
.link-CV {
    text-decoration: none;
    color: black;
}
.link-CV:hover {
    color: rgb(114, 91, 216);
}
.link {
    text-decoration: none;
    color: black;
}
.link:hover {
    color: rgb(114, 91, 216);
}
.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 80px 0px 80px;
}
@media (max-width: 768px) {
.section {
      width: 100%;
    }
  }